{% extends 'sellers/base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <h1>Вход в аккаунт организации</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="field">
            <label for="{{ form.username.id_for_label }}">Email вашей организации</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.password.id_for_label }}">Пароль</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>

        <input type="checkbox" name="remember_me">
        <label for="remember_me">Запомнить меня</label>

        <button type="submit">Войти</button>
    </form>
{% endblock %}