{% extends 'sellers/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <h1>Регистрация организации</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="field">
            <label for="{{ form.name.id_for_label }}">Название вашей организации</label>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="error">{{ form.name.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.email.id_for_label }}">Email вашей организации</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.phone.id_for_label }}">Номер телефона вашей организации</label>
            {{ form.phone }}
            {% if form.phone.errors %}
                <div class="error">{{ form.phone.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.address.id_for_label }}">Адрес склада вашей организации</label>
            {{ form.address }}
            {% if form.address.errors %}
                <div class="error">{{ form.address.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.password1.id_for_label }}">Пароль</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="error">{{ form.password1.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.password2.id_for_label }}">Повтор пароля</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="error">{{ form.password2.errors }}</div>
            {% endif %}
        </div>

        <input type="checkbox" name="remember_me">
        <label for="remember_me">Запомнить меня</label>
        
        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}