{% extends 'organizations/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <h1>Регистрация организации</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="field">
            <label for="{{ form.name.id_for_label }}">Название вашей организации</label>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="error">{{ form.name.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.inn.id_for_label }}">ИНН вашей организации</label>
            {{ form.inn }}
            {% if form.inn.errors %}
                <div class="error">{{ form.inn.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.phone.id_for_label }}">Номер телефона вашей организации</label>
            {{ form.phone }}
            {% if form.phone.errors %}
                <div class="error">{{ form.phone.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.currency.id_for_label }}">Основная валюта вашей организации</label>
            {{ form.currency }}
            {% if form.currency.errors %}
                <div class="error">{{ form.currency.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.website.id_for_label }}">Сайт вашей организации</label>
            {{ form.website }}
            {% if form.website.errors %}
                <div class="error">{{ form.website.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.logo.id_for_label }}">Логотип вашей организации</label>
            {{ form.logo }}
            {% if form.logo.errors %}
                <div class="error">{{ form.logo.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.address.id_for_label }}">Адрес склада вашей организации</label>
            {{ form.address }}
            {% if form.address.errors %}
                <div class="error">{{ form.address.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.password1.id_for_label }}">Пароль</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="error">{{ form.password1.errors }}</div>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="{{ form.password2.id_for_label }}">Повтор пароля</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="error">{{ form.password2.errors }}</div>
            {% endif %}
        </div>
        
        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}